<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>Wlog Viewer</title>
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/lib/jquery.blockUI.js" ></script>
	<script type="text/javascript" src="/lib/jstree/jstree.min.js" ></script>
	<script type="text/javascript" src="/lib/timepicker/jquery-ui-timepicker-addon.min.js" ></script>
	<script type="text/javascript" src="/lib/timepicker/jquery-ui-sliderAccess.js" ></script>
	<script type="text/javascript" src="/lib/angular.min.js" ></script>
	<script type="text/javascript" src="/socket.io/socket.io.js" ></script>
	<script type="text/javascript" src="wlog.js" ></script>
	<link rel="stylesheet" media="all" type="text/css" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="lib/timepicker/jquery-ui-timepicker-addon.min.css" />
	<link rel="stylesheet" type="text/css" href="lib/jstree/themes/default/style.min.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body ng-app="app" ng-controller="wlogCtrl" >
<div class="wrapper">
	<header class="header">
		<table border="0" width="100%" >
			<tr>
				<th align="left" style="font-size: 15pt; padding-left: 10px;" >
					<b>Wlog Viewer</b>
				</th>
				<td align="right" >
					<a href='/logout' >Log out</a>
				</td>
			</tr>
		</table>
	</header>
	<div class="middle">
		<div class="container">
			<div class="content" >
				<p style="font-size:11pt;">
				File Name: <b>{{fileName}}</b>({{fileSize | number}} Bytes)
				</p>
				<div id="input" tabs style="border:1px solid;" >
					<ul>
						<li><a href="#input-search" >검색</a></li>
						<li><a href="#input-tail" >tail</a></li>
					</ul>
					<div id="input-search" >
						<table width="100%" >
							<colgroup>
								<col width="150" />
							</colgroup>
							<tr>
								<th>Date:</th>
								<td>
									<input type="text" id="searchDate" datetimepicker />
								</td>
							</tr>
							<tr>
								<th>Size: {{search.bytes | number}}</th>
								<td height="25" >
									<div id="slider" slider ></div>
								</td>
							</tr>
						</table>
					</div> 
					<div id="input-tail" >
						<table width="100%" >
							<colgroup>
								<col width="150" />
							</colgroup>
							<tr>
								<th>Filter:</th>
								<td>
									<input type="text" size="100" id="filterText" autocomplete ng-model="tail.filterText" ng-keydown="autocomplete.keypress(tail.filterText);" placeholder="검색하고자 하는 정규표현식을 입력하시고 Enter-Key를 입력하세요!" />
								</td>
							</tr>
							<tr>
								<th>State:</th>
								<td>
									<div ng-switch on="tail.state" >
										<span ng-switch-when="true" style="clolor: blue;" >Progress</span>
										<span ng-switch-default style="color: red;" >Stop</span>
									</div>
								</td>
							</tr>
						</table>					
					</div>
				</div>
				<br/>
				<textarea id="output" ng-model="output" style="width:100%;" readonly="readonly" ></textarea>
				<span style="color: red;" ><b>{{errMsg}}</b></span>
			</div>
		</div>
		<aside id="left-sidebar" class="left-sidebar" >
			<div id="jstree" jstree ng-model="node" ></div>
		</aside>
	</div>
	<footer class="footer" >
		Copyright (c) 2014 Jong-Bok,Park  All rights reserved.
	</footer>
</div>
</body>
</html>